<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>{% block title %}{% endblock %} - Blueprints</title>
    {% endblock %}
</head>
<body>
    <div id="content">{% block content %}{% endblock %}</div>
    <div id="footer">
        {% block footer %}
        Created by <a href="http://au.linkedin.com/in/dmcgra">No|<0mm3nt</a>. 
        Built using: <a href="https://cloud.google.com/appengine/?utm_source=danmcg">Google App Engine</a> and <a href="https://cloud.google.com/datastore/?utm_source=danmcg">Google Cloud Datastore</a>
        {% endblock %}
    </div>
{% block final %}{% endblock %}
</body>
</html>
