{% extends "base.html" %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block title %}Blueprint Library{% endblock %}
{% block content %}
<div id="headline" class="col">
    <h2>Home of the Blueprint Library</h2>
</div>
<div id="options" class="col">
<h3>~~~ Prototype under development ~~~~</h3>
<br>
<a href="/list">See a list of all Blueprints</a>
<br><br>
<a href="/search">Search over all Blueprints</a>
<br><br>
<h3>~~~ Prototype under development ~~~~</h3>
</div>
{% endblock %}
{% block final %}
{{ super() }}
{% endblock %}
