{% extends "base.html" %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block title %}Search Blueprint{% endblock %}
{% block content %}
<div id="headline" class="col">
    <h2>Search Blueprints</h2>
</div>
<div id="search" class="col">
  <form action="/search/list/" method="GET">
    <fieldset>
      <legend>Search Type</legend>
      <input type="radio" name="search_type" value="class_rank" checked> Class Rank
      <br>
      <input type="radio" name="search_type" value="simple"> Material Simplicity
      <br>
      <input type="radio" name="search_type" value="dimensions"> Max Dimensions
      <br>
    </fieldset>
<br>
    <fieldset>
      <legend>Comparison Type</legend>
      <input type="radio" name="filter_op" value="lesser_equal" checked> Lesser than or Equal to (<=)
      <br>
      <input type="radio" name="filter_op" value="equal" checked> Equal to (=)
      <br>
      <input type="radio" name="filter_op" value="greater_equal" checked> Greater than or Equal to (>=)
      <br><br>
      Value to compare against:
      <br>
      <input type="text" name="filter_value" value="0" min="0" max="9999" step="1">
    </fieldset>
<br>
    <input type="submit" name="submit" value="Search!">
    <br>
  </form>
<br><br>
<h4>What is Class Rank?</h4>
<p>Class Rank is a classification system based on the calculated mass of the entity.</p>
<p><a href="https://docs.google.com/document/d/1wUhrk2AjJubYFTqzG4SZnXbE0jymVhbff916RmA9i5U/edit?usp=sharing">A Google Doc</a> where I discuss the model and rational behind it </p>
<p><a href="https://docs.google.com/spreadsheets/d/1lFytmOJwUCsOmP0D0_MmiYLY7cMurXNlqz51iT3p4eA/edit?usp=sharing">A Google Spreadsheet</a> where you can plug in a ship mass and have the ship classification spat out</p>
<h4>What is Material Simplicity?</h4>
<p>This is a count of unique block types used in the blueprint. Currently it is only for the base entity (excludes docked entities). So searching for Blueprints with Material Simplicity <= 50 will return only Blueprints where the base entity uses 50 or fewer block types.</p>
</div>
{% endblock %}
{% block final %}
{{ super() }}
{% endblock %}
