{% extends "base.html" %}
{% block head %}
    {{ super() }}
    <script src='https://www.google.com/recaptcha/api.js'></script>
{% endblock %}
{% block title %}Upload Blueprint{% endblock %}
{% block content %}
<div id="headline" class="col">
    <h2>Upload Blueprint</h2>
</div>
<div id="upload" class="col">
  <form action="{{ uploadUri }}" method="POST" enctype="multipart/form-data">
    Upload Blueprint (*.zip or *.sment): <input type="file" name="file"><br><br>
    Power Recharge rate (e/sec): <input type="text" name="power_recharge" value="0" min="0" max="99999999"
 step="0.1"><br><br>
    Power Capacity (e): <input type="text" name="power_capacity" value="0" min="0" max="99999999"
 step="0.1"><br><br>
    <div class="g-recaptcha" data-sitekey="6LeI_xQTAAAAAAToduVHa6VhT4bpa_-EsedKq8FU"></div>
    <input type="submit" name="submit" value="Submit">
  </form>
</div>
{% endblock %}
{% block final %}
{{ super() }}
{% endblock %}
