{% extends "base.html" %}
{% block head %}
    {{ super() }}
<script src="/javascript/block.js"></script>
{% endblock %}
{% block title %}{{ title }}{% endblock %}
{% block content %}
  <div id="headline" class="col">
    <h1>{{ title }}</h1>
    <h3>Attachment: {{ class }}</h3>
    <!-- Blueprint Schema Version: {{ version }}<br> -->
  </div>
  <div class="data">
    <div class="col left">
      <div class="subheading">
        <h4>General</h4>
      </div>
      <div class="datum">
        <strong>Dimensions (LWH):</strong> {{ length }}m x {{ width }}m x {{ height }}m
      </div><br/>
      <div class="datum">
        <strong>Mass:</strong> {{ mass }}<br>
      </div><br/>
      {% if entity is equalto 0 %}
        <div class="datum">
          <strong>Thrust:</strong> {{ thrust }}<br>
        </div>
        <div class="datum">
          <strong>Max Speed:</strong> {{ speed_coefficient }}x<br>
        </div>
      {% endif %}
      <div class="datum">
        <strong>Shield Capacity:</strong> {{ shields.capacity }} C<br>
      </div>
      <div class="datum">
        <strong>Shield Recharge:</strong> {{ shields.recharge }} C/sec<br>
      </div>
      <div class="datum">
        <strong>Power capacity:</strong> {{ power_capacity_sum }} e
        <ul>
        {% for power in power_capacity %}
          <li>{{ power }}: {{ power_capacity[power] }} e</li>
        {% endfor %}
        </ul>
      </div>
      <div class="datum">
        <strong>Power Recharge:</strong> {{ power_recharge_sum }} e/sec
        <ul>
        {% for power in power_recharge %}
          <li>{{ power }}: {{ power_recharge[power] }} e/sec</li>
        {% endfor %}
        </ul>
      </div>
      <div class="datum">
        <strong>Extra Power Usage:</strong>
        <ul>
        {% for usage in power_usage %}
          <li>{{ usage }}: {{ power_usage[usage] }} e/sec</li>
        {% endfor %}
        </ul>
      </div>
      <div class="datum">
        <strong>Time to charge:</strong> {{ idle_time_charge }} seconds<br>
      </div>
    </div>

    </div>
    <div class="col middle">
      <div class="subheading">
        <h4>Ratings</h4>
      </div>
      <div class="datum">
        <div id="shieldCapacity" class="progress">
          <div class="gaugetext"><strong>Shield Capacity</strong></div>
          <span id="shieldCapacityFill" class="progressFill" data-gauge="{{ shield_capacity_gauge }}"/>
        </div>
      </div>
      <div class="datum">
        <div id="shieldRecharge" class="progress">
          <div class="gaugetext"><strong>Shield Recharge</strong></div>
          <span id="shieldRechargeFill" class="progressFill" data-gauge="{{ shield_recharge_gauge }}"/>
        </div>
      </div>
      <div class="datum">
        <div id="powerCapacityEfficiency" class="progress">
          <div class="gaugetext"><strong>Power Capacity Efficiency</strong></div>
          <span id="powerCapacityEfficiencyFill" class="progressFill" data-gauge="{{ power_capacity_efficiency_gauge }}"/>
        </div>
      </div>
      <div class="datum">
        <div id="powerEfficiency" class="progress">
          <div class="gaugetext"><strong>Power Recharge Efficiency</strong></div>
          <span id="powerEfficiencyFill" class="progressFill" data-gauge="{{ power_efficiency_gauge }}"/>
        </div>
      </div>
      <div class="datum">
        <div id="powerRecharge" class="progress">
          <div class="gaugetext"><strong>Power Recharge</strong></div>
          <span id="powerRechargeFill" class="progressFill" data-gauge="{{ power_recharge_gauge }}"/>
        </div>
      </div>
      {% if entity is equalto 0 %}
        <div class="datum">
          <div id="thrust" class="progress">
            <div class="gaugetext"><strong>Thrust Ratio</strong></div>
            <span id="thrustFill" class="progressFill" data-gauge="{{ thrust_gauge }}"/>
          </div>
        </div>
      {% endif %}
    </div>
    <div class="col right">
      <div class="subheading">
        <h4>Systems</h4>
      </div>
      <div class="datum">
        <ul>
        {% for system in systems %}
          {% if system is equalto "camera" %}
            <li>Camera: x{{ systems[system] }}</li>
          {% elif system is equalto "factory" %}
            <li>Factory Equipment: x{{ systems[system] }}</li>
          {% elif system is equalto "medical" %}
            <li>Medical Units: x{{ systems[system] }}</li>
          {% elif system is equalto "radar_jamming" %}
            <li>Radar Jamming</li>
          {% else %}
            <li>{{ system }}</li>
          {% endif %}
        {% endfor %}
        </ul>
      </div>

  </div>
  <div class="data">
    <div class="col left clear">
      <div class="subheading">
        <h4>Structures</h4>
      </div>
      <div class="datum">
        <strong>Docked on:</strong> <a href="/view/{{ parent }}">{{ parent_title }}</a>
      </div>
    </div>
    <div class="col middle">
      <div class="subheading">
        <h4>Element List</h4>
      </div>
      <div class="datum">
        <ul>
        {% for element in element_list %}
          <li id="element{{ element[0][0] }}">{{ element[0][1] }}</li>
        {% endfor %}
        </ul>
      </div>
      <hr>
    </div>
    <div class="col right">
      <div class="subheading">
        <h4>Actions</h4>
      </div>
      <div class="datum">
        <form method="GET" action="/list/">
          <input type="submit" value="List Blueprints" class="list">
        </form>
      </div>
      <div class="datum">
        <form method="POST" action="/delete/{{ blue_key }}">
          <input type="submit" value="Delete Blueprint" class="delete">
        </form>
      </div>
    </div>
  </div>
  <div style="clear:both"></div>
{% endblock %}
{% block final %}
{{ super() }}
<script src="/javascript/blueprint_load.js" ></script>
{% endblock %}
